<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>test page</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <style type="text/js" src="/static/js/bootstrap.min.js"></style>
        <style type="text/css">
        </style>

	</head>
	<body>
	    <div id='login'>
            {%if user%}
                welcome {{user.username}}
                <a class="btn"href='/logout/'>logout</a>
            {%else%}
<!--            <form action='/login/'method='post'>{%csrf_token%}-->
                姓名<input type='text' name='username' id='username'/>
                密码<input type='password'name='password' id='password'/>
                <input class="btn"type='button'value="login" onclick ="login()"></input>
<!--            </form>-->
            {%endif%}
        </div>
        <hr/>
        <div>
            <script>
                var now = new Date();
                document.write(now.toLocaleString());
            </script>
        </div>
        <script type="text/javascript">
            var hr = new XMLHttpRequest();
            hr.open('post','/login/',true);
            hr.setRequestHeader("Content-Type","application/x-www-form-urlencoded;charset=UTF-8");
            hr.onreadystatechange = process;
            function login(){
                var username = document.getElementById('username').value;
                var password = document.getElementById('password').value;
                hr.send('username='+username+'&password='+password);
            }
            function process(){
                if(hr.readyState == 4 && hr.status==200){
                    if(hr.responseText != ''){
                        var login_msg = document.getElementById('login');
                        login_msg.innerHTML = 'welcome '   + hr.responseText + " <a class='btn' href='/logout/'>logout</a>";
                    }
                }
            }
        </script>

	</body>
</html>
