<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>{%block title%}test page{%endblock%}</title>
            <link rel='stylesheet' type='text/css' href="/static/css/bootstrap.css">
        <style type="text/css">
        </style>

        <script type="text/javascript">
        </script>
	</head>
	<body style="background-color:#cfcfcf;position:relative;">
    {%block img%}
        <a href="/index"><img style="position:absolute;top:-1px;"src="/static/img/return-back.png"></a>
    {%endblock%}
        <div style="height:40px;"></div>
	    <div style="background-color:white;width:900px;height:580px;margin:0px auto;border-radius:8px;padding:30px;">
            {%block header%}
                <ul style="width:620px;margin:10px auto;">
                    {%for nav in nav_list%}
                        <li style="display:inline-block;font-size:40px;margin:10px;"><a href="/nav/{{nav.id}}">{{nav.name}}</a></li>
                    {%endfor%}
                </ul>
            {%endblock%}
            <hr/>
            {%block content%}
                content
            {%endblock%}
        </div>
	</body>
</html>
