#d1, #d2, #d3, #d4{
        background-color: #d3d3d3;
        border:1px solid blue;
        margin:0px auto;
    }
#d1{
    width:1000px;
    height:100px;
    text-align:center;
    }
#d2{
    border:0px;
    width:904px;
    height:auto;
    }
#d3{
    border:0px;
    float:left;
    width:50%;
    height:100%;
    }
#d3 img{
    width:145px;
    }
