 #nav a{
     color:black;
     font-size:23px;
     letter-spacing:2px;
     text-decoration:none;
     }
 #nav a:hover{
     color:red;
<!--     font-size:25px;  -->
     text-decoration:underline;
     }
